In [64]:
#Import necessary libraries
import pandas as pd
from glob import glob
import numpy as np
import warnings
warnings.filterwarnings("ignore")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (1313567716.py, line 9)

In [45]:
#read the first 10 columns CSV file from a dataframe
book = pd.read_csv (r'C:\Users\HATU-FAMILY\Desktop\Tololi\books.csv')

book.head(10)

C:\Users\HATU-FAMILY\AppData\Local\Temp\ipykernel_4896\1018080095.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  book = pd.read_csv (r'C:\Users\HATU-FAMILY\Desktop\Tololi\books.csv')

,ISBN,title,author,year-of-publication,publisher
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,60973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
5,399135782,The Kitchen God's Wife,Amy Tan,1991,Putnam Pub Group
6,425176428,What If?: The World's Foremost Military Histor...,Robert Cowley,2000,Berkley Publishing Group
7,671870432,PLEADING GUILTY,Scott Turow,1993,Audioworks
8,679425608,Under the Black Flag: The Romance and the Real...,David Cordingly,1996,Random House
9,074322678X,Where You'll Find Me: And Other Stories,Ann Beattie,2002,Scribner

In [69]:
#Get the dataset information
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271360 entries, 0 to 271359
Data columns (total 5 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ISBN                 271360 non-null  object
 1   Title                271360 non-null  object
 2   Author               271359 non-null  object
 3   Year-Of-Publication  271360 non-null  object
 4   Publisher            271358 non-null  object
dtypes: object(5)
memory usage: 10.4+ MB

In [44]:
#Importing dtaset users from local drive
user = pd.read_csv (r'C:\Users\HATU-FAMILY\Desktop\Tololi\users.csv')
user.head()

   user-ID                            location   age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [67]:
data.describe()

,ISBN,Title,Author,Year-Of-Publication,Publisher
count,271360,271360,271359,271360,271358
unique,271360,242131,102023,207,16806
top,195153448,Selected Poems,Agatha Christie,2002,Harlequin
freq,1,27,632,10071,7535

In [43]:
#Importing dataset ratings from local drive
rating = pd.read_csv (r'C:\Users\HATU-FAMILY\Desktop\Tololi\ratings.csv')
rating.head()

   user-ID        ISBN  rating
0   276725  034545104X       0
1   276726   155061224       5
2   276727   446520802       0
3   276729  052165615X       3
4   276729   521795028       6

In [46]:
#merging dataset2 and dataset 3 with user-ID
df = pd.merge(user,rating, on='user-ID', how='inner')
df.head()

   user-ID                   location   age       ISBN  rating
0        2  stockton, california, usa  18.0  195153448       0
1        7        washington, dc, usa   NaN   34542252       0
2        8   timmins, ontario, canada   NaN    2005018       5
3        8   timmins, ontario, canada   NaN   60973129       0
4        8   timmins, ontario, canada   NaN  374157065       0

In [47]:
#Merging dataset 1 and dataset 3
df = pd.merge(book,rating, on='ISBN', how='inner')
df.head()

,ISBN,title,author,year-of-publication,publisher,user-ID,rating
0,195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0
1,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,5
2,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11400,0
3,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,11676,8
4,2005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,41385,0

In [52]:
#users that have given ratings
rating['user-id'].value_counts()

KeyError: 'user-id'

In [65]:
#Extract users and ratings of more than 200
x = rating['user-ID'].value_counts() > 200
y = x[x].index  #user_ids
print(y.shape)
rating = rating[rating['user-ID'].isin(y)]

(815,)

In [57]:
#Merge ratings with books
rating_with_books = rating.merge(book, on='ISBN')
rating_with_books.head()

,user-ID,ISBN,rating,title,author,year-of-publication,publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [61]:
#Merge ratings with users
rating_with_users = rating.merge(user, on='user-ID')
rating_with_users.head()

   user-ID        ISBN  rating                       location   age
0   276725  034545104X       0              tyler, texas, usa   NaN
1   276726   155061224       5       seattle, washington, usa   NaN
2   276727   446520802       0  h, new south wales, australia  16.0
3   276729  052165615X       3           rijeka, n/a, croatia  16.0
4   276729   521795028       6           rijeka, n/a, croatia  16.0

In [62]:
#Extract books that have received more than 50 ratings.
number_rating = rating_with_books.groupby('title')['rating'].count().reset_index()
number_rating.rename(columns= {'rating':'rating'}, inplace=True)
final_rating = rating_with_books.merge(number_rating, on='title')
final_rating.shape
final_rating = final_rating[final_rating['rating'] >= 50]
final_rating.drop_duplicates(['user-ID','title'], inplace=True)

KeyError: 'rating'

In [66]:
#Create Pivot Table
book_pivot = final_rating.pivot_table(columns='user-ID', index='title', values="rating")
book_pivot.fillna(0, inplace=True)

KeyError: 'rating'

In [60]:
#print all the suggested books
for i in range(len(suggestions)):
  print(book_pivot.index[suggestions[i]])

NameError: name 'suggestions' is not defined